/* $Id: */

div.usertags-community {
  display:block;
  padding-bottom:20px;
}

div.usertags-community div.usertags-community-tag {
  display:inline-block;
  padding-right:7px;
}

a.usertags-community-addtag {
  display:inline;
  margin-left:15px;
  color:black;
}

