/* $Id: */

div.usertags-freetagging {
  display:block;
  padding-bottom:20px;
}

div.usertags-freetagging div.usertags-freetagging-tag {
  display:inline-block;
  padding-right:7px;
}

a.usertags-freetagging-addtag {
  display:inline;
  margin-left:8px;
  color:black;
}

div.usertags-freetagging-cross {
  color:red;
  display:inline;
  padding-left:5px;
  padding-right:5px;
  cursor:pointer;
}
