/* $Id: */

.usertags-label-inline .usertags-label {
  float:left; /*LTR*/
  margin-right:10px;
}

.usertags .usertags-label {
  font-weight: bold;
}


div.usertags-stuff-somebody-tagged a {
  margin-right:7px;
}

div.usertags-stuff-you-tagged a {
  margin-right:7px;
}
