/* $Id: */

div.usertags-checkboxes-and-radios {
  display:block;
  padding-bottom:20px;
}

div.usertags-checkboxes-and-radios-anon-text-message {
  display:block;
}

/* Radiobuttons */
/* ------------ */

div.usertags-checkboxes-and-radios-radio-inline {
  padding-right: 20px;
  display:inline;
}

div.usertags-checkboxes-and-radios-radio-block {
  padding-left: 0px;
  display:block;
}

input.usertags-checkboxes-and-radios-radio {
  margin-right: 7px;   /* margin between the radiobutton bullet and the label */
}

/* Checkboxes  */
/* ---------- */

div.usertags-checkboxes-and-radios-checkbox-inline {
  padding-right: 20px;
  display:inline;
}

div.usertags-checkboxes-and-radios-checkbox-block {
  padding-left: 0px;
  display:block;
}

input.usertags-checkboxes-and-radios-checkbox {
  margin-right: 7px;   /* margin between the checkbox the label */
}


